@using InShow.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<RegisterViewModel>

@{
    @*Layout = "~/views/catsense2014.cshtml";*@
var membershipService = ApplicationContext.Current.Services.MemberService;
}

<style type="text/css">
    form.tab-form-demo .tab-pane {
        margin: 20px 20px;
    }
</style>

<div style="padding:50px;" ng-controller="ProfileTabs">
@if (Model.MemberType == "agent")
{
   <h1 style="color:#FF7C00">Agent Details</h1>
            <rd-widget >
                <rd-widget-body >
                    <div class="row">
                        <div class="col-md-5">

                            <rd-widget>
                                <rd-widget-header icon="fa-pen" title="Agent Login Details">
                                 
                                    <a href="#">Reset Password</a>
                                </rd-widget-header>
                                <rd-widget-body>
                                    Login:  @Model.Name;
                                </rd-widget-body>
                            </rd-widget>
                            <br />
                            <rd-widget>
                                <rd-widget-header icon="fa-pen" title="Account Details">
                                   
                                    
                                </rd-widget-header>
                                <rd-widget-body>
                                    Credits:  3

                                   <button class="btn btn-primary">Buy Credits</button>
                                    <button class="btn btn-primary">Enter Voucher number</button>
                                </rd-widget-body>
                            </rd-widget>
                        </div>
                        <div class="col-md-5">

                            <rd-widget>
                                <rd-widget-header icon="fa-pen" title="Agent  Details">
                                    <a href="#">Edit</a>
                                </rd-widget-header>
                                <rd-widget-body>
                                    <ul>
                                        <li > Name:  @Model.RegisterAgent.FirstName;</li>
                                        <li > Last Name:  @Model.RegisterAgent.LastName;</li>
                                        <li > Cell No: @Model.RegisterAgent.CellNumber</li>



                                    </ul>

                                </rd-widget-body>
                            </rd-widget>

                        </div>

                        <div class="col-md-2 text-center">
                            <rd-widget>
                                <rd-widget-header icon="fa-pen" title="Agent Picture">
                                    <a href="#">Edit</a>
                                </rd-widget-header>
                                <rd-widget-body>
                                    <img src="@Model.RegisterAgent.Picture" class="img-thumbnail" />
                                </rd-widget-body>
                            </rd-widget>

                        </div>

                    </div>



                </rd-widget-body>
            </rd-widget>

}

    @if (Model.MemberType == "agency")
    {
        <h1 style="color:#FF7C00">Agency Details</h1>
        <rd-widget>
            <rd-widget-body>
                <div class="row">
                    <div class="col-md-5">

                        <rd-widget>
                            <rd-widget-header icon="fa-pen" title="Agent Login Details">
                              
                                <a href="#">Reset Password</a>
                            </rd-widget-header>
                            <rd-widget-body>
                                @Model.Name
                            </rd-widget-body>
                        </rd-widget>
                        <br />
                        <rd-widget>
                            <rd-widget-header icon="fa-pen" title="Account Details">


                            </rd-widget-header>
                            <rd-widget-body>
                                Credits:  @Model.RegisterAgency.Credits

                                <button class="btn btn-primary">Buy Credits</button>
                                <button class="btn btn-primary">Enter Voucher number</button>
                            </rd-widget-body>
                        </rd-widget>
                    </div>
                    <div class="col-md-5">

                        <rd-widget>
                            <rd-widget-header icon="fa-pen" title="Agent  Details">
                                <a href="#">Edit</a>
                            </rd-widget-header>
                            <rd-widget-body>
                                <ul class="list-group">
                                    <li  class="list-group-item"> Agency Name :  @Model.Name </li>
                                    <li class="list-group-item"> Agency Pin:  @Model.RegisterAgency.AgencyPin</li>
                                    <li class="list-group-item"> Cell Number: @Model.RegisterAgency.CellNumber</li>

                                   



                                </ul>

                            </rd-widget-body>
                        </rd-widget>

                    </div>

                    <div class="col-md-2 text-center">
                        <rd-widget>
                            <rd-widget-header icon="fa-pen" title="Agent Picture">
                                <a href="#">Edit</a>
                            </rd-widget-header>
                            <rd-widget-body>
                                <img src="@Model.RegisterAgency.Logo" class="img-thumbnail" />
                            </rd-widget-body>
                        </rd-widget>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-5">

                        <rd-widget>
                            <rd-widget-header icon="fa-pen" title="Agent List">
                                <a href="#">Add</a>
                            </rd-widget-header>
                            <rd-widget-body>
                                <table class="table table-responsive table-striped table-hover">

                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Surname</td>
                                            <td>Email</td>
                                            <td></td>
                                            <td></td>
                                           
                                        </tr>
                                    </thead>

                                    @foreach (var nodeid in Model.RegisterAgency.Agents.Split(','))
                                    {
                                        InShow.GenereatedModels.ModelWrapper mw = new InShow.GenereatedModels.ModelWrapper();
                                        var _member = membershipService.GetById(int.Parse(nodeid));
                                        var member = Members.GetById(int.Parse(nodeid));
                                        mw.agent = new InShow.GenereatedModels.Agent(member);
                                        

                                         <tr>
                                             <td>
                                                 @mw.agent.FirstName
                                             </td>
                                             <td>
                                                 @mw.agent.LastName 
                                                 

                                             </td>
                                             <td>
                                                @_member.Email
                                             </td>
                                             <td>
                                             
                                             </td>
                                             <td><a data-guid="@_member.Key" uib-tooltip="Edit" href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                             <td><a uib-tooltip="Delete" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                         </tr>
                                    }
                                   


                                </table>

                               

                            </rd-widget-body>
                        </rd-widget>

                    </div>

                    <div class="col-md-5">

                        <rd-widget>
                            <rd-widget-header icon="fa-pen" title="Admin Users">
                                <a href="#">Add</a>
                            </rd-widget-header>
                            <rd-widget-body>
                                <table class="table table-responsive table-striped table-hover">

                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Surname</td>
                                            <td>Email</td>

                                        </tr>
                                    </thead>

                                    @foreach (var nodeid in Model.RegisterAgency.AdminAgents.StringToNullSafe().Split(','))
                                    {
                                        if (nodeid == "")
                                        {
                                            continue;
                                        }
                                        RegisterViewModel rvm = new RegisterViewModel(int.Parse(nodeid));
                                        <tr>
                                            <td>
                                                @rvm.RegisterAgent.FirstName
                                            </td>
                                            <td>
                                                @rvm.RegisterAgent.LastName

                                            </td>
                                            <td>
                                                @rvm.RegisterAgent.EmailAddress
                                            </td>
                                            <td>
                                                @rvm.RegisterAgent.CellNumber
                                            </td>

                                        </tr>
                                    }



                                </table>



                            </rd-widget-body>
                        </rd-widget>

                    </div>

                </div>
               

            </rd-widget-body>
        </rd-widget>

    }







    <hr />


</div>
